<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../javascripts/underscore.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/app.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
  </body>
</html>