body {
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
}
a {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: underline;
}
#find {
  float: right;
}
#find2 {
  display: block;
}
#primaryToolbar {
  text-align: right;
  font-size: 17px;
  padding-right: 50px;
  padding-top: 30px;
  list-style-type: none;
  display: -webkit-inline-box;
  float: right;
  font-weight: bolder;

}
.container-fluid {
  float: left;
  color: transparent;
}
#block {
  display: inline-block;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.banner {
  background-repeat: no-repeat;
  background-position: right top;
}
.affix-top {
  /* navbar style at top */
  background:transparent;
  border-color:transparent;
  padding: 15px;
}
/* navbar-brand {
  color: transparent;
} */
.navbar {
  width: 100%;
  text-align: center;
}

/* carousel!!! ________ */
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: gray;
}
#petsuccess {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 50px;
  text-shadow: 1px 2px 3px #000000;
}
#main-nav {
  background-image: url(http://i.imgur.com/q1uJgUw.png);
  height: 400px;
  background-repeat: no-repeat;
}
#profile-nav {
  background-image: url(http://i.imgur.com/DZyl6xx.png);
  height: 400px;
  background-repeat: no-repeat;
}
#results-nav {
  background-image: url(http://i.imgur.com/pE9tswG.png);
  height: 400px;
  background-repeat: no-repeat;
}
#main-page-image {
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 40px;
  display: inline-block;
  float: none;
  
}
#save-life {
  padding-top: 20px;
  padding-right: 100px;
  height: 370px;
  display: inline-table;
}
#subtext {
  text-align: right;
}
#main-search {
  align-content: center;
}
.hidden {
  display: hidden;
}
.round {
  border-radius: 50%;
}
.round2 {
  border-radius: 50%;
}
input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin: 0px 0;
  box-sizing: border-box;
}
input[type=text]:focus {
  border:0;
  width: 100%;
}
.btn-change{
  height: 35px;
  width: 150px;
  color: black;
  background: white;
  margin: 8px 0px;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition: all 0.5s ease-in-out;
  border: 1px solid darkgrey;
  font-size: 15px;
  text-align: center;
}
.btn-change:hover{
  -webkit-transform: scale(1.1);
  background: #B2E2BB;
  color: black;
}
p {
  width: 500px;
}
h3 {
  text-align: -webkit-left;
}
#subtext {
  text-align: center;
}
.main-search {
  float: right;
}
#SEARCH_LINK:hover {
  text-decoration: none;
}
#profile-div {
  background-color: gray;
  width: 100%;
  height: 35px;
}
#submit-btn {
  float: right;
}
.photo-resize {
  height:250px;
  width:250px;
}
.photo-resize2 {
  width:80px; 
  height:80px;
}
.centered {
  text-align: center;
  display: table-cell;
}
.col-md-4 text-center {
  height: 100px;
}
#profile {
  width: 100%;
  margin: 0;
  display: inline-block;
}
#pref {
  display: inline-block;
}
.glyphicon.glyphicon-heart {
    font-size: 30px;
    cursor: pointer;
}
div.row {
  padding-left: inherit;
  display: inline;
}

#pet-name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

body,html {
  height:100%;
}
#sticky-link {
  position: fixed;
}
#show-pet {
  align-content: center;
}
#pet-info {
  text-align: center;
}
#show-pet-name {
  text-align: center;
  -webkit-line-clamp: 1;
}
#pet-name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.red {
  color: red;
}
.black {
  color: black;
}
#results-search {
  display: -webkit-inline-flex;
}
.text-field-padding {
  padding:4%;  
}

.col-xs-2 {
  display: inline-table;
}
.resize-glyph {
  font-size:30px;
}


.control-group col-xs-8 {
margin-top: 10px;
text-align: inherit;
}

.col-xs-8 {
  margin-top: 9px;
  padding-left: inherit;
  
}


.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: .7;
}

.col-md-3:hover .overlay {
  height: 75%;
}

.carousel-story {
  text-align: center;
}

.col-xs-3 {
  width: 50%;
}
.centered2 {
  text-align: center;
  border: none;
}


