<%- include('./../partials/header') %>


<nav id="main-nav">
    <ul id="primaryToolbar" class="clearfix">
        <% if (user) { %>
        <!-- <ul id="primaryToolbar" class="clearfix"> -->
        <li id="user-pic"> <img alt="Brand" class="navbar-brand img-responsive" src='<%=user.photo%>'> </li>
        <li>Hello <%=user.first_name%> | <a href="/logout">LOG OUT</a> |</li>
        <li><a href="#">PROFILE</a> | </li>
        <li><a href="#SEARCH_LINK">SEARCH</a> </li>
        <% } else { %>
        To Search Adoptable Pets,
        <li><a href="/auth/google">Login with Google </a> Here.</li>
        <% } %>
    </ul>
</nav>


<%- include('./../partials/footer') %>